<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지</title>
  <link rel="stylesheet" th:href="@{/css/adminpage.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script type="text/javascript" th:src="@{/js/adminpage.js}"></script>
</head>
<body>
<div class="wrapper">
  <div th:replace="fragments/admin-header :: header"></div>
  <div class="back">
    <button>뒤로가기</button>
  </div>
  <h1>사용자 관리 페이지</h1>
  <div class="menu-box">
    <div class="menu-container">
      <a th:href="@{/adminpost}" class="menu-item">게시글 보기</a>
      <a th:href="@{/admin}" class="menu-item">유저보기</a>
    </div>
  </div>

  <div class="search-container">
    <div class="search-combined">
      <select class="search-category">
        <option value="name">이름</option>
        <option value="department">학과</option>
        <option value="studentID">학번</option>
      </select>
      <input type="text" placeholder="검색어를 입력하세요" class="search-input">
      <button class="search-button">검색</button>
    </div>
  </div>

  <div class="main-container">
    <div class="user-container">
      <h3>유저 목록</h3>
      <div class="user-info">
        <span data-label="번호">번호</span>
        <span data-label="이름">이름</span>
        <span data-label="학과">학과</span>
        <span data-label="학번">학번</span>
      </div>
      <hr>
      <div id="users">
        <div th:each="user : ${users}" class="user-item">
          <span class="user-info" th:text="${user.userNo}"></span>
          <span class="user-info" th:text="${user.userName}"></span>
          <span class="user-info" th:text="${user.userMajor}"></span>
          <span class="user-info" th:text="${user.userSchoolNum}"></span>
        </div>
      </div>
      <div class="pagination">
        <button class="prev" id="prev">&#10094;</button>
        <button class="next" id="next">&#10095;</button>
      </div>
    </div>
  </div>

  <aside class="user-details-container">
    <div class="user-details-info">
      <div class="profile-container">
        <div class="profile-image" id="profileImageContainer">
          <img id="profilePic" th:src="@{/img/asf.png}" alt="프로필 사진">
        </div>
        <div class="user-details">
          <span id="user-no"></span><br>
          <span id="user-name"></span><br>
          <span id="user-department"></span><br>
          <span id="user-id"></span><br>
          <span id="user-email"></span>
        </div>
      </div>
      <button class="delete-user-button">삭제</button>
    </div>
  </aside>
  <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
