<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>분실물 목록</title>
    <link rel="stylesheet" href="../../../static/css/trade.css">
</head>
<body>
<div class="container">
    <a th:href="@{/static}">
        <img src="../../../static/images/캠퍼스.jpg" alt="Homepage Image" height="150px" width="100%">
    </a>
    <h1>분실물 목록</h1>
    <div class="search-form">
        <div class="search-input-container">
            <input type="text" id="search-input" placeholder="검색어를 입력하세요">
            <select id="search-option">
                <option value="userId">아이디</option>
                <option value="studentId">학번</option>
                <option value="nickname">닉네임</option>
            </select>
        </div>
        <button id="search-btn">검색</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>위치</th>
            <th>등록일시</th>
            <th>아이디</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lost : ${lostList}">
            <td th:text="${lost.id}"></td>
            <td th:text="${lost.title}"></td>
            <td th:text="${lost.position}"></td>
            <td th:text="${#temporals.format(lost.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${lost.user.username}"></td>
            <td th:text="${lost.status}"></td>
        </tr>
        </tbody>
    </table>
    <a href="./write.html" class="write-btn">분실물 등록</a>
</div>
<script src="../../../static/lost.js"></script>
</body>
</html>