<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/chat.js"></script>
</head>
<body>
<div id="chat-room">
    <div id="messages"></div>
    <input type="text" id="message-input" placeholder="Type a message..."/>
    <button onclick="sendMessage()">Send</button>
</div>
</body>
</html>