body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}

.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 30px;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header-left,
.header-center {
    margin-right: 20px;
    flex: 1;
}

.header-center {
    text-align: center;
}

.header-left p, .header-center h1 {
    margin: 0;
    font-size: 24px;
    color: #233428;
}

.book-info-wrapper {
    background-color: #f9f9f9;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.book-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.book-image {
    margin-right: 40px;
}

.book-image img {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.back button {
    background-color: #3b4e3f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left:10px;
    margin-top:10px;
    border-radius: 10px;
}

.back button:hover {
    background-color: #354638;
}

.book-info {
    flex: 1;
}

.book-info h2 {
    margin-top: 0;
    font-size: 28px;
    color: #233428;
}

.book-info p {
    font-size: 20px;
    color: #344939;
}

.content-container {
    margin-bottom: 30px;
}

.description h2 {
    margin-top: 0;
    font-size: 28px;
    color: #233428;
}

.description p {
    font-size: 20px;
    color: #344939;
}