<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>삼육대학교 자원순환 프로젝트</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="section index-header">
    <h2>삼육대학교 자원순환 프로젝트</h2>
    <img th:src="@{/img/main1.png}" alt="Main1">
</div>

<div class="section main-content">
    <h3>환경을 생각한다면</h3>
    <p>아껴쓰고<br>나눠쓰고<br>바꿔쓰고<br>다시쓰자</p>
    <img th:src="@{/img/main2.png}" alt="Main2">
</div>

<div class="section index-footer">
    <h3>삼육대학교 내 쓰레기통 위치</h3>
    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/view?zoom=17&center=37.6436%2C127.1063&key=AIzaSyAv17w36LBhPXsad-jheZMbv7_bEivkMFM"></iframe>
    <img th:src="@{/img/bean.gif}" alt="bean">
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>