<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>거래 상세 정보</title>
    <link rel="stylesheet" th:href="@{/css/listde.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/listdetail.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="header-container">
        <div class="header-left">
            <p>카테고리:
                <span th:switch="${trade.tradeCategory}">
                    <span th:case="'1'">도서</span>
                    <span th:case="'2'">기부</span>
                    <span th:case="*" th:text="${trade.tradeCategory}"></span>
                </span>
            </p>
            <p>작성자: <span th:text="${trade.user.userName}"></span></p>
        </div>
        <div class="header-center">
            <h1 th:text="${trade.tradeTitle}"></h1>
        </div>
    </div>
    <div class="book-info-wrapper">
        <div class="book-info-container">
            <div class="book-image">
                <img th:src="@{'/trade/photo/' + ${trade.tradeNum}}" alt="Book Cover">
            </div>
            <div class="book-info">
                <h2>책 정보</h2>
                <p>저자: <span th:text="${trade.tradeProduct}"></span></p>
                <p>출판사: <span th:text="${trade.tradeCondition}"></span></p>
                <p>가격: <span th:text="${trade.tradePrice}"></span></p>
                <p>개수: <span th:text="${trade.tradeQuantity}"></span></p>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="description">
            <h2>제품 설명</h2>
            <p th:text="${trade.tradeText}"></p>
<!--            <p>필기 흔적: <span th:text="${trade.book.bookWriting == 'Y' ? '있음' : '없음'}"></span></p>
            <p>겉표지: <span th:text="${trade.book.bookCover == 'Y' ? '문제 있음' : '문제 없음'}"></span></p>
            <p>페이지 변색: <span th:text="${trade.book.bookDiscoloration == 'Y' ? '있음' : '없음'}"></span></p>
            <p>페이지 훼손: <span th:text="${trade.book.bookDamage == 'Y' ? '있음' : '없음'}"></span></p>-->
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
