<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>중고거래 목록</title>
    <link rel="stylesheet" th:href="@{/css/trade.css}">  <!--trade-->
</head>
<body>
<div class="container">
    <a th:href="@{/}">
        <img src="/images/캠퍼스.jpg" alt="Homepage Image" height="150px" width="100%">
    </a>
    <h1>중고거래 목록</h1>

    <div class="category-select">
        <select id="category" name="categoryId" required>
            <option value="0">카테고리 선택</option>
            <option value="1">도서</option>
            <option value="2">기부</option>
        </select>
    </div>
    <div class="search-form">
        <div class="search-input-container">
            <input type="text" id="search-input" placeholder="검색어를 입력하세요">
            <select id="search-option">
                <option value="userId">아이디</option>
                <option value="studentId">학번</option>
                <option value="nickname">닉네임</option>
            </select>
        </div>
        <button id="search-btn">검색</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>카테고리</th>
            <th>등록일시</th>
            <th>아이디</th>
            <th>거래여부</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trade : ${trade}">
            <td th:text="${trade.tradeNum}"></td>
            <td th:text="${trade.tradeTitle}"></td>
            <td th:text="${trade.tradeCategory}"></td>
            <td th:text="${#temporals.format(trade.tradeTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${trade.user.userName}"></td>
            <td th:text="${trade.tradeComplete} ? '거래완료' : '거래중'"></td>
        </tr>
        </tbody>
    </table>
    <form action="write" method="post">
        <button id="submit-button">게시글 작성</button>
    </form>
</div>
<!--<script src="../../static/trade.js"></script>-->
</body>
</html>